<!DOCTYPE html>
<head>

	<h2> Click this button to display the JSON content </h2>
	
</head>

<body>

<style>
#map-canvas{
border-style: solid;
border-width: 5px;
height: 60%;
width: 40%;

}</style>

<table id="table">
<tr>
<th> firstName </th>
<th> lastName </th>
</tr>
</table> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>


<script>
     $(document).ready(function(){
	$("#click").click(function(){
    $.ajax({
        url: '/json',
	type: 'GET',
        dataType: "json",
	
        success: function(data) {
		console.log("success");
	var txt = '';
	for(var i = 0, size = data.length; i < size ; i++)
	{
   var item = data[i];
   txt = txt + "<tr><td id = td>"+ item.firstName + "</td><td>" + item.lastName+"</td><td>";
   
    } 
    console.log(txt);
    
    var length= $("#table").find('td:td').length;	
	console.log(length);

	if(length==0){
	$("#table").append(txt);
	}


	
	}
	});
	});
	});
		
       



</script>
 
 
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    
var infoWindow= new google.maps.InfoWindow();


function initMap() {

var myLatLng = new google.maps.myLatLng(13.05,80.18);

// create a map object and specify the DOM element for display	
var map = new google.maps.Map(document.getElementById('map-canvas'), {
center: myLatLng,
scrollwheel: false,
zoom: 4,
});
}



function getLocation(){
var location= document.getElementById('myLatLng').value;
console.log("test:"+ location);
var locString=location.split(',',2);
var lat=parseFloat(locString[0]);
var lon=parseFloat(locString[1]);
var myLatLng = new google.maps.myLatLng(lat,lon);
map.setZoom(13);
//create a marker and set its position
var marker=new google.maps.Marker({
map: map,
position: myLatLng
});


    infoWindow.setContent(location);
  

    infoWindow.open(map,marker);
  
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>




<br></br>  <br></br> 
<h3>Click button "Click Map" to display location of the particular "myLatLng" </h3>  
<p>
<input id="myLatLng" type="text" value="13.05,80.18">

<button id="click" style="color:red; background-color:blue; border-radius:20px;" onclick="getLocation()"> Click map </button>
</p>
    <div id="map-canvas">
	
	 </div>
</body>
</html>  



