<html>
<head>

<script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js"> </script>
<script type="text/javascript">

function initialize(){
var latlng = new google.maps.LatLng(32.735,-97.108);
var myOptions = {
zoom: 8,
center: latlng,
mapTypeId: google.maps.mapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}

</script>
<head>

</body onload = "initialize()">
<div id = "map_canvas" style = "width:500px;height:380px;">
</div>
</body>


</html>
