<!DOCTYPE html>
<head>

	<h2> Click this button to display the JSON content </h2>
	
</head>

<body>

<button id="click" style="color:red; background-color:blue; border-radius:20px;"> Click me </button>
<p> body </p>




<table id="table">
<tr>
<th> firstName </th>
<th> lastName </th>
</tr>
</table> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>


<script>
     $(document).ready(function(){
	$("#click").click(function(){
    $.ajax({
        url: '/json',
	type: 'GET',
        dataType: "json",
	
        success: function(data) {
		console.log("success");
	var txt;
	for(var i = 0, size = data.length; i < size ; i++)
	{
   var item = data[i];
   txt = txt + "<tr><td id = td>"+ item.firstName + "</td><td>" + item.lastName+"</td><td>";
   console.log(txt);
    } 


	}
	});
	});
	});
		
       



</script>
 
</body>
</html>  



